raw_data
sandbox
.vscode
__pycache__
scraper/__pycache__
test/raw_data
test/__pycache__
scraper/aws_password.py
build
scraper.egg-info
geckodriver.log
dist
.ipynb_checkpoints
driver
.DS_Store
setup.pyc
scraper/__init__.pyc
